@import "../variables.scss";

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .contentWrapper {
    width: 100%;
    transition: all 400ms ease-in-out;
  }
  @media (min-width: 992px) {
    .openSidebar {
      padding-left: 250px;
    }
  }
}
